body
{
    background-color:rgb(23, 11, 27);
    color:#ffffff;
}
.add_movie_form{
    width:500px;
    margin:20px auto;
}
.add_movie_form input, .add_movie_form textarea,.add_movie_form select{
    width:100%;
    display:block;
    box-sizing: border-box;
    background: rgb(23, 11, 27);
    padding:0 5px;
    font-family: serif;
    font-size: 1.2rem;
    border: 1px solid rgb(105, 95, 95);
    margin: 7px 0 15px;
    color:inherit;
}
.add_movie_form h2{
    text-align: center;
    margin: 20px 0;
    font-weight:normal;
    font-size: 1.8rem;
}
.add_movie_form label{
    font-size: 0.9rem;
}
.add_movie_form select{
    background: url("images/downarrow.png") no-repeat right;
    background-position-x: 95%;
    background-size: 12px;
    height: 40px;
    overflow: hidden;
    border-radius: 0;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.add_movie_form .divide{
    width:49%;
    display:inline-block;
    box-sizing: border-box;
    float: left;
    
}
.add_movie_form .divide1{
    width:49%;
    display:inline-block;
    box-sizing: border-box;
    float: right;
    
}
.add_movie_form input[type=submit]{
    width:100px;
    height:40px;
    margin:0 auto;
    background-color:orange;
    border:none;
    font-size:0.9rem;
    border-radius: 5px; 
}